.logo {
  display: block;
  width: 35%;

  color: white;
}

.buttons-and-search-container {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space elements evenly */
  padding: 10px; /* Add padding for spacing */
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.search-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

/* Adjust spacing between elements */
form {
  margin-right: 10px; /* Add margin between form and buttons */
}

.container {
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
}

.weather {
  max-width: 200px;
  margin: 50px auto 0; /* Add 20px margin to the top */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f8ff; /* Light blue */
  text-align: center;
}

.section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #0000cd; /* Dark blue */
  border-radius: 5px;
  background-color: #add8e6; /* Light blue */
}

h2, h3, p, ul, li {
  font-size: 14px; /* Adjust the font size as needed */
  margin: 5px 0; /* Add some spacing between elements */
}

.current {
  max-width: wrap;
  margin: 20px auto 0; /* Add 20px margin to the top */
  padding: 5px; /* Add padding to shift content down */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f8ff; /* Light blue */
  text-align: center;
}