.logo {
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.buttons-and-search-container {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space elements evenly */
  padding: 10px; /* Add padding for spacing */
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.search-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

/* Adjust spacing between elements */
form {
  margin-right: 10px; /* Add margin between form and buttons */
}

.container {
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
}
