Body {
  color: cadetblue;
}

.logo {
  display: block;
  width: 35%;
  color: white;
}

.buttons-and-search-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 10px; 
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.search-container {
  display: flex;
  align-items: center; 
}

form {
  margin-right: 10px; 
}

.container {
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
}

.weather {
  max-width: 200px;
  margin: 50px auto 0; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f8ff;
  text-align: center;
}

.section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #0000cd; 
  border-radius: 5px;
  background-color: #add8e6; 
}

h2, h3, p, ul, li {
  font-size: 14px; 
  margin: 5px 0; 
}

.current {
  max-width: wrap;
  margin: 20px auto 0; 
  padding: 5px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f8ff; 
  text-align: center;
}

.weather-list {
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.weather-list li {
  width: 100%;
  padding: 5px;
}